<header class="header-area">
    <div class="container">
      <div class="classy-nav-container breakpoint-off">
        <nav class="classy-navbar justify-content-between" id="saasboxNav">
          <!-- Logo--><a class="nav-brand mr-5" href=""><img src="../../../assets/img/core-img/logo-white.png" alt=""></a>
          <!-- Navbar Toggler-->
          <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span><span></span></span></div>
          <!-- Menu-->
          <div class="classy-menu">
            <!-- close btn-->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <!-- Nav Start-->
            <div class="classynav">
              <ul id="corenav">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
              </ul>
              <!-- Login Button-->
              <div class="login-btn-area ml-4 mt-4 mt-lg-0"><a class="btn saasbox-btn btn-sm" href="">Join Us Now</a></div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>