<!-- Welcome Area-->
<section class="welcome-area">
    <!-- Background Shape-->
    <div class="background-shape">
      <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms"></div>
      <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms"></div>
    </div>
    <!-- Background Animation-->
    <div class="background-animation">
      <div class="star-ani"></div>
      <div class="cloud-ani"></div>
      <div class="triangle-ani"></div>
      <div class="circle-ani"></div>
      <div class="box-ani"></div>
    </div>
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-between">
        <!-- Welcome Content-->
        <div class="col-12 col-md-6 col-lg-5">
          <div class="welcome-content">
            <h2 class="wow fadeInUp" data-wow-duration="1000ms">Big Creative Agency.</h2>
            <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms">It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.</p><a class="btn saasbox-btn white-btn mt-3 wow fadeInUp" href="#" data-wow-duration="1000ms" data-wow-delay="400ms">More About Us</a>
          </div>
        </div>
        <!-- Welcome Thumb-->
        <div class="col-10 col-md-6">
          <div class="welcome-thumb hero1 wow fadeInUp" data-wow-delay="300ms"><img src="../../../../assets/img/bg-img/hero-3.png" alt=""></div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Area-->
  <section class="about-area section-padding-120">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <!-- About Content Area-->
        <div class="col-12 col-lg-7 col-xl-6">
          <div class="about-content mb-100 mb-lg-0">
            <div class="row justify-content-between">
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="100ms">
                  <div class="icon"><i class="lni-sun"></i></div>
                  <h4>Web Design</h4>
                  <p>It's crafted with the latest trend of design & coded with all modern approaches.</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="300ms">
                  <div class="icon"><i class="lni-heart"></i></div>
                  <h4>Branding</h4>
                  <p>It's crafted with the latest trend of design & coded with all modern approaches.</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="500ms">
                  <div class="icon"><i class="lni-infinite"></i></div>
                  <h4>Marketing</h4>
                  <p>It's crafted with the latest trend of design & coded with all modern approaches.</p>
                </div>
              </div>
              <!-- Single About Area-->
              <div class="col-12 col-sm-6">
                <div class="single-about-area wow fadeInUp" data-wow-duration="800ms" data-wow-delay="700ms">
                  <div class="icon"><i class="lni-cart"></i></div>
                  <h4>Ecommerce Solution</h4>
                  <p>It's crafted with the latest trend of design & coded with all modern approaches.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- About Text Area-->
        <div class="col-12 col-lg-5">
          <div class="section-heading mb-0">
            <h6 class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="1000ms">Our key features</h6>
            <h2 class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">We focus on growth of your business.</h2>
            <p class="mb-3 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.</p>
            <p class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1000ms">It's crafted with the latest trend of design & coded with all modern approaches. It's a robust & multi-dimensional usable template.</p><a class="btn saasbox-btn mt-5 wow fadeInUp" href="#" data-wow-delay="400ms" data-wow-duration="1000ms">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </section>