<app-ext-default-layout></app-ext-default-layout>


    <!-- page-title -->
    <section class="page-title" style="background-image: url(../../../../assets/images/background/pagetitle-bg.png);">
        <div class="anim-icons">
            <div class="icon icon-1"><img src="../../../../assets/images/icons/anim-icon-17.png" alt=""></div>
            <div class="icon icon-2 rotate-me"><img src="../../../../assets/images/icons/anim-icon-18.png" alt=""></div>
            <div class="icon icon-3 rotate-me"><img src="../../../../assets/images/icons/anim-icon-19.png" alt=""></div>
            <div class="icon icon-4"></div>
        </div>
        <div class="container">
            <div class="content-box clearfix">
                <div class="title-box pull-left">
                    <h1>The Team</h1>
                    <p>Reach out to the world’s most reliable IT services.</p>
                </div>
                <ul class="bread-crumb pull-right">
                    <li>The Team</li>
                    <li><a routerLink = "/home">Home</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- our-team -->
    <section class="team-style-three centred">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-three">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="../../../../assets/images/resource/team-4.png" alt="">
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h5><a href="#">Rakibul Islam Disu</a></h5>
                                <span class="designation">Graphic Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-three">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="../../../../assets/images/resource/team-5.png" alt="">
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h5><a href="#">Rakib AL Mahmud</a></h5>
                                <span class="designation">UI/UX Designner</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-three">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="../../../../assets/images/resource/team-6.png" alt="">
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h5><a href="#">Fatema Islam Sorna</a></h5>
                                <span class="designation">Digital Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-three">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="../../../../assets/images/resource/team-7.png" alt="">
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h5><a href="#">Rajiya Islam Rimpa</a></h5>
                                <span class="designation">UI/UX Designner</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-three">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="../../../../assets/images/resource/team-7.png" alt="">
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h5><a href="#">Rajiya Islam Rimpa</a></h5>
                                <span class="designation">UI/UX Designner</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-three">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="../../../../assets/images/resource/team-6.png" alt="">
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h5><a href="#">Fatema Islam Sorna</a></h5>
                                <span class="designation">Digital Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-three">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="../../../../assets/images/resource/team-5.png" alt="">
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h5><a href="#">Rakib AL Mahmud</a></h5>
                                <span class="designation">UI/UX Designner</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                    <div class="team-block-three">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="../../../../assets/images/resource/team-4.png" alt="">
                                <ul class="social-links clearfix">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h5><a href="#">Rakibul Islam Disu</a></h5>
                                <span class="designation">Graphic Designer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-style-three end -->


    <!-- clients-style-four -->
    <section class="clients-style-four style-five">
        <div class="image-layer" style="background-image: url(../../../../assets/images/icons/layer-image-7.png);"></div>
        <div class="container">
            <div class="clients-carousel owl-carousel owl-theme owl-dots-none">
                <figure class="image-box"><a href="#"><img src="../../../../assets/images/clients/client-1.png" alt=""></a></figure>
                <figure class="image-box"><a href="#"><img src="../../../../assets/images/clients/client-2.png" alt=""></a></figure>
                <figure class="image-box"><a href="#"><img src="../../../../assets/images/clients/client-3.png" alt=""></a></figure>
                <figure class="image-box"><a href="#"><img src="../../../../assets/images/clients/client-4.png" alt=""></a></figure>
            </div>
        </div>
    </section>
    <!-- clients-style-four end -->

    <app-ext-default-footer></app-ext-default-footer>
    
    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

